body{
    font-family: 'Exo', sans-serif;
    
}


/*Main Body Section*/
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 80%;
    padding: 10px;
} 
/* MEMBER SECTION */
.members{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.member{
    padding: 25px 20px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    flex-wrap: wrap;

}
.member-image{
    width: 100px;
    height: 100px;
    margin: 5px 20px;
    background-color: red;
}

.member-llist-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.member-llist{
    display: flex;
    margin: 10px 0px 5px 20px;

    
}
.member-info{
    border: solid black 2px;
    padding: 0px 15px;
    margin: 0px;
    height: 40px;
}
.member-box{
    padding-left: 0px;
    margin-left: -2px;
    width: 10px;
    height: 40px;
    border: solid black 2px;
}



.text{
   padding: 0 50px;
}


.tab{padding-left: 20px;}

.txt-red {color: #F82648;}
.txt-green {color: #158A88;}
.txt-blue{color: #52A5AB;}
.txt-yellow{color: #D8A621}




/*Footer Section*/
footer{
    background-color: dimgray;
    color:darkgray;
    padding: 10px;
    height: 20px;
}
